<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Inventory System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <h1>Simple Inventory System</h1>
        <nav>
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section id="test">
        </section>
        <section id="auth">
            <h2>Login or Register</h2>
            <div class="auth-buttons">
                <a href="#" class="button" id="registerButton">Register test user</a>
            </div>
        </section>
    </main>
    <footer>
        <p>&copy; 2025 Simple Inventory System. All rights reserved.</p>
    </footer>

    <!-- Link to a javascript file that handles the button clicks -->
    <script src="{{ url_for('static', filename='js/user_actions.js') }}"></script>
</body>
</html>
